<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        p,li{
            font-size : 30px;
        }
    </style>
</head>
<body>
    <center>
        <h1>Welcome to DNA Transcription api</h1>
        <p>
            Enter your sequence in the format of 
            <li>( baseurl../your_sequence )</li>
        </p>
    </center>
</body>
</html>